@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-color: #1CE34F;
}

.login-form-container {
  background: #ffffff;
  width: 360px;
  padding: 1% 0 2%;
  margin: auto;
  margin-top: 150px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.form-control {
  width: 90%;
  margin-left: 20px;
}

.btn-primary {
  background-color: mediumslateblue;
  width: 60%;
}

.err-msg {
  color: #EA0000;
}

